<a href="https://colab.research.google.com/github/buenaflorJ-nine/58010-DSAA/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arrays

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]
x = numbers[2]
print(x)

2

Accesing the Elements in the Array

In [ ]:
animals = ["cat", "dog", "fish"]
y = animals[0]
print(y)

cat

Modifying the Elements in an Array

In [ ]:
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
print(animals)

['monkey', 'dog', 'fish']

Length of an Array

In [ ]:
animals = ["cat", "dog", "fish"]
x = len(animals)
print(x)

3

Looping Array Elements

In [ ]:
animals = ["cat", "dog", "fish"]
for x in animals:
  print(x)

cat
dog
fish

Adding Elements in the Array

In [ ]:
animals = ["cat", "dog", "fish"]
animals.append("monkey")
print(animals)

['cat', 'dog', 'fish', 'monkey']

Removing an Element in the Array

In [ ]:
animals = ["cat", "dog", "fish"]
animals.pop(1)
print(animals)

['cat', 'fish']

In [ ]:
animals = ["cat", "dog", "fish"]
animals.append('monkey')
animals.pop(1)
print(animals)
x = len(animals)
print(x)

['cat', 'fish', 'monkey']
3

In [ ]:
animals = ["dog", "fish", "cat"]
animals.sort()
print(animals)

['cat', 'dog', 'fish']

In [ ]:
numbers = [5, 3, 0, 1, 2]
numbers.sort()
print(numbers)

[0, 1, 2, 3, 5]

In [ ]:
numbers = [5, 3, 0, 1, 2]
numbers.sort(reverse=True)
print(numbers)

[5, 3, 2, 1, 0]